h5{ text-align: center;}
ul li{ 
	line-height: 60px; 
	text-align: left;
	border-bottom: 1px solid #eee;	
	transition:all linear 0.5s;	
	opacity: 0;
}
ul li img{ height: 50px;width: 50px;margin-right: 10px; vertical-align: middle;}
ul li span{ font-size: 12px; color: #333;}
.ng-scope{
	opacity: 1;
}